:root {
  --background-color: #415c76;
  --color: #ecf0f1;
  --logo-color: #1b232b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100dvh;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f1c40f;
    --color: #415c76;
    --logo-color: #415c76;
  }
}
