@import './src/styles/mobile.css';

:root {
  --secondary-color: #635985;
  --primary-color: #ecf0f1;
  --logo-color: #1b232b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  min-height: 100dvh;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    --secondary-color: #ffd89c;
    --primary-color: #374259;
    --logo-color: #374259;
  }
}
