@keyframes contentFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes logoFloating {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-7%) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes logoFadeIn {
  0% {
    opacity: 0;
    transform: scale(0) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(-50%);
  }
}

@keyframes arrowsFadIn {
  0% {
    opacity: 0;
    transform: scale(0) translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(-20px);
  }
}

@keyframes arrows {
  0% {
    border-left: calc(20px / 3) solid transparent;
    border-bottom: calc(20px / 3) solid transparent;
    transform: translate(calc(20px / -6), calc(20px * 4 / -6)) rotate(-45deg);
  }
  10%,
  90% {
    border-left: calc(20px / 3) solid transparent;
    border-bottom: calc(20px / 3) solid transparent;
  }
  50% {
    border-left: calc(20px / 3) solid oklch(from var(--color) l c h / 0.7);
    border-bottom: calc(20px / 3) solid oklch(from var(--color) l c h / 0.7);
    transform: translate(calc(20px / -6), 0px) rotate(-45deg);
  }
  100% {
    border-left: calc(20px / 3) solid transparent;
    border-bottom: calc(20px / 3) solid transparent;
    transform: translate(calc(20px / -6), calc(20px * 4 / 6)) rotate(-45deg);
  }
}
